.list-transactions {
  display: flex;
  align-items: center;
  padding: 0px 0px 0px 0px;
  width: 900px;
  height: 59px;
  background: #fff;

  color: #000;
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

#date-transactions {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  width: 82px;
  height: 59px;
  padding-left: 7px;
  margin-right: 50px;
}

#day-transactions {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  width: 100px;
  height: 59px;
  margin-left: 30px;
  margin-right: 25px;
}

#description-transactions {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  width: 150px;
  height: 59px;
  margin-left: 40px;
  margin-right: 15px;
}

#category-transactions {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  width: 100px;
  height: 59px;
  margin-left: 30px;
  margin-right: 40px;
}

#valor-transactions {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  width: 150px;
  height: 59px;
  margin-left: 0px;
}

#icons-transactions {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  width: 49px;
  height: 59px;
  margin-left: 30px;
}

.icons {
  display: flex;
  cursor: pointer;
}

.entry-amount {
  color: #7b61ff;
}

.output-amount {
  color: #fa8c10;
}
