header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: 118px;
  padding: 0 80px;
}

.profile-items {
  display: flex;
  align-items: center;
}

.profile-items strong {
  margin-right: 8px;

  color: #fff;

  font-family: Rubik;
  font-size: 14px;
  font-weight: 700;
}

.profile-items img {
  cursor: pointer;
}
